:root {
  --body_main_background: #F3F4F6;  /*พื้นหลังสุด*/
  --body_main_sidebar: #FFFFFF;     /*พื้นหลังของ side bar*/
  --body_sub_sidebar: #F8F7FF;      /*เมนู side bar*/
  --body_text_color: #1F2937;       /*สีของข้อความหลัก*/
  --body_hover_text_color: #9183FF; /*สีของข้อความหลักเมื่อกดค้าง*/
  --text_side_bar:#82848F;          /*สีจางๆของข้อความที่ side bar*/
}

[data-theme="dark"] {
  --body_main_background: #111827;
  --body_main_sidebar: #1F2937;
  --body_sub_sidebar: #363A65;
  --body_text_color: #F3F4F6;
  --body_hover_text_color: #7A6CF8;
  --text_side_bar:#82848F;
}

*::selection {
  background-color: var(--body_hover_text_color);
}

body{
  margin: 0;
  background-color: var(--body_main_background);
  color: var(--body_text_color);
  font-family: "Roboto", sans-serif;
}

.main {
  display: flex;
  justify-content: start;
}