.dashborad-main {
    color: var(--body_text_color);
    padding: 30px;
}

.overview-in-main {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    margin: 20px 0;
}

.chart-mini-size {
    background-color: var(--body_main_sidebar);
    width: 100%;
    height: 250px;
    border-radius: 10px;
    padding: 20px 0;
    transition: 0.2s ease-in-out;
    box-shadow: #32326911 0px 2px 5px 0px, #00000007 0px 1px 1px 0px;
}

.chart-mini-size p {
    text-align: center;
    font-weight: 800;
    font-size: 1.3rem;
    margin: 10px 0 0;
}

.chart-in-main {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 90%;
    margin: 0 5%;
}

.chart-in-sub {
    width: 50%;
    padding:5% ;
    background-color: var(--body_main_sidebar);
    border-radius: 10px;
    box-shadow: #32326911 0px 2px 5px 0px, #00000007 0px 1px 1px 0px;
}

@media screen and (max-width: 450px) {
    .overview-in-main {
        display: block;
        margin: 5%;
        width: 90%;
    }
    .dashborad-main {
        padding: 0px;
    }
    .chart-mini-size {
        width: 100%;
        margin: 10% 0;
    }

    .chart-in-main {
        flex-direction: column;
        width: 90%;
        margin: 0 5%;
    }

    .chart-in-sub {
        width: 100%;
        padding: 0;
    }
}