.sidebar {
    width: 200px;
    background-color: var(--body_main_sidebar);
    color: var(--text_side_bar);
    padding: 20px 20px;
    height: 100vh;
    border-radius: 0 20px 20px 0;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    transition: 0.2s ease-in-out;
    z-index: 1;
}

.sidebar.closed {
    width: 0;
    padding: 0;
    overflow: hidden;
}

.sidebar ul {
    padding: 0;
    list-style: none;
}

.side-menu {
    padding: 5px 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.side-menu:hover {
    border-radius: 10px;
    background-color: var(--body_sub_sidebar);
    color: var(--body_hover_text_color);
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}



.toggle-button {
    position: fixed;
    padding: 5px 10px;
    cursor: pointer;
}
.hover-wrapper {
  position: fixed;
  display: inline-block;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translate(70%, 50%);
  margin-left: 10px;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 6px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  font-size: 14px;
  z-index: 10;
}

.hover-wrapper:hover .hover-text {
  opacity: 1;
}