body {
  margin: 0;
  background-color: var(--dark-main);
}

:root {
  --main: #A86523;
  --sub: #E9A319;
  --ligt-sub: #F29C76;
  --ligt: #FCEFCB;

  --dark-sub: #1A1A1A;
  --dark-main: #0E0E0F;
  --line: #1A1A1B;

  --sut: #F4621C;
}

*::selection {
  background-color: var(--main);
}


.app-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  color: var(--ligt);
}

.content {
  padding: 20px;
  background-color: var(--dark-main);
  flex-grow: 1;
  font-size: 2rem;
}

.poster {
  background: linear-gradient(68deg, rgba(237, 176, 21, 1) 0%, rgba(255, 224, 144, 1) 55%);
}

.chat-box {
  position: fixed;
  bottom: 30px;
  right: 325px;
  width: 20px;
  height: 20px;
  background-color: var(--dark-sub);
  font-size: 15px;
  z-index: 100;
  border-radius: 100px;
  padding: 10px;
  box-shadow: 0 10px 15px var(--dark-main);
  cursor: pointer;
}

.chat-box.wait {
  bottom: 30px;
  width: 40px;
  height: 40px;
  right: 30px;
  font-size: 30px;
}